---

---

 <!-- Menu dentro de la Hamburguesa -->
<div id="mobile-menu" hidden> 
    <div class="absolute z-40">
        <div class="flex flex-col h-screen overflow-y-auto -ml-8 -mt-12 bg-gray-300">
            <!-- Boton para cerrar el menu dentro de la hamburguesa (mobile-menu) -->
            <div class="flex items-center justify-between bg-white">
                <p class="font-bold ml-3"> Explorar por categoría</p>
                <button id="hidden-button" class="hover:bg-gray-300 p-0.5">
                <svg viewBox="0 0 24 24" width="2em" height="2em" fill="currentColor" focusable="false" aria-hidden="true">
                    <path d="m13.057 11.996 7.723-7.723a.75.75 0 1 0-1.06-1.06l-7.724 7.723-7.723-7.724a.75.75 0 1 0-1.06 1.061l7.723 7.723-7.716 7.717a.75.75 0 1 0 1.06 1.06l7.716-7.716 7.717 7.716a.747.747 0 0 0 1.06 0 .75.75 0 0 0 0-1.06z"></path>
                </svg>
                </button>
            </div>
            <!--Enlaces a Mujer Hombre Niños -->
            <div class="grid grid-cols-3 border-y-2 border-gray-600 bg-white">
                <div class="flex justify-center  py-3 hover:bg-gray-200">
                    <a href="/">Mujer</a>
                </div>
                <div class="flex justify-center  py-3 hover:bg-gray-200">
                <a href="/">Hombre</a>
                </div>
                <div class="flex justify-center  py-3 hover:bg-gray-200">
                <a href="/">Niños</a>
                </div>
            </div>
            <!-- Imagenes de enlaces a categorias -->
            <div class="grid grid-cols-2 pt-8 mb-4 gap-3 bg-white">
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/fe442661-be40-4a83-917e-2192504cb83c/mobile/783a312e-510a-4e7e-bc62-00a5f2a71142.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Novedades</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/615f994a-73ec-4121-8f41-2a56fb24ddf4/mobile/c89def85-8409-42b4-a9e1-6e5ef465b25d.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Ropa</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/8d4a73d9-7129-44cc-a86c-7ad588c56b12/mobile/47816e0e-1f4b-4dc4-96ec-add67617ace9.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Calzado</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/130587fa-3a0e-489b-a743-9b7abea5d674/mobile/31ee44ee-e674-42fc-9100-1e96c3e98de5.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Complementos</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/a5b4552d-618c-48a1-914c-c50b4878abe1/mobile/e7ce815a-efa0-409e-82c9-d67c480ade39.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Deporte</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/b4fab7a2-37b8-4cb5-8c49-91212064ff8d/mobile/8fd00467-e421-435e-b524-5cc1be92e197.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Beauty</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/9241f4c6-c543-4dac-92d4-936d0b44f1b0/mobile/62ef3adb-d450-4769-a573-c67a2ffe3cc2.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Streetwear</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/f41bc3c9-f4b3-4e67-a694-5f7fd3260205/mobile/e3de15ce-a44d-4685-bc8a-0f24a08fe957.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Designer</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/b7259a1d-f2e2-44e5-b3c4-c133c2efb50c/mobile/e4b7a616-fe77-474e-ad8e-5f97aa14b09d.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Marcas</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/7e47da9e-9e49-424d-bc9a-6baedfe58797/mobile/702bad87-72ea-45e0-a8f1-47812eaaec37.jpg" alt="imagen de novedades">
                    <p class="p-3 text-red-600">Outlet</p>
                </a>
                </div>
                <div class="flex flex-col gap-3 ">
                <a href="/categoria/">
                    <img class="h-[88px]" src="https://img01.ztat.net/nvg/categories/es-ES/men/e0020c79-0328-4954-99e8-04a8e18672b6/mobile/c03a5e80-314b-4f2b-a51e-eafe0b800718.jpg" alt="imagen de novedades">
                    <p class="p-3 text-gray-600">Segunda Mano</p>
                </a>
                </div>
            </div>
            <!-- Botton Ayuda -->
            <div class="bg-white border-b border-gray-300">
                <a href="/" class="flex items-center justify-between py-5 px-3 hover:bg-gray-200">
                <span>Ayuda</span>
                <span>
                    <svg viewBox="0 0 24 24" width="2em" height="2em" fill="currentColor" focusable="false" aria-hidden="true">
                    <path d="M7.63 21.14a.75.75 0 0 1 0-1.06l7.55-7.55a.75.75 0 0 0 0-1.06L7.63 3.92a.75.75 0 1 1 1.06-1.061l7.55 7.55a2.25 2.25 0 0 1 0 3.182l-7.55 7.55a.75.75 0 0 1-1.06 0"></path>
                    </svg>
                </span>
                </a>
            </div>
            <!-- Boton Newsletter -->
            <div class="bg-white">
                <a href="/" class="flex items-center justify-between py-5 px-3 hover:bg-gray-200">
                <span>Newsletter</span>
                <span>
                    <svg viewBox="0 0 24 24" width="2em" height="2em" fill="currentColor" focusable="false" aria-hidden="true">
                    <path d="M7.63 21.14a.75.75 0 0 1 0-1.06l7.55-7.55a.75.75 0 0 0 0-1.06L7.63 3.92a.75.75 0 1 1 1.06-1.061l7.55 7.55a2.25 2.25 0 0 1 0 3.182l-7.55 7.55a.75.75 0 0 1-1.06 0"></path>
                    </svg>
                </span>
                </a>
            </div>
        </div>
    </div>
</div>

<script is:inline>
  
  // Selecciona los elementos
  const hamburgerButton = document.getElementById("hamburger-button");
  const mobileMenu = document.getElementById("mobile-menu");
  const hiddenButton = document.getElementById("hidden-button");
  const body = document.body;

  // Función para abrir el menú
  function openMenu() {
    mobileMenu.removeAttribute("hidden");
    body.style.overflow = "hidden"; // Desactiva el scroll en el cuerpo
  }

  // Función para cerrar el menú
  function closeMenu() {
    mobileMenu.setAttribute("hidden", "true");
    body.style.overflow = "auto"; // Reactiva el scroll en el cuerpo
  }

  // Abrir el menú al hacer clic en el botón de la hamburguesa
  hamburgerButton.addEventListener("click", openMenu);

  // Cerrar el menú al hacer clic en el botón de cerrar dentro del menú
  hiddenButton.addEventListener("click", closeMenu);

  // Cerrar el menú si se hace clic fuera del menú
  document.addEventListener("click", (event) => {
    if (!mobileMenu.contains(event.target) && !hamburgerButton.contains(event.target)) {
      closeMenu();
    }
  });
  
</script>