---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import ShowProduct from "../components/ShowProduct.astro";

const titule = "Calzados";
const descrip = "Muestra de los diferentes tipos de productos de la categoria de calzado"
---

<BaseLayouts titulo= {titule} descripcion= {descrip}>
	<main>	
		Calzados
	</main>
</BaseLayouts>