---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import CategoriaAside from "../components/CategoriaAside.astro";
import CategoriaAcordeon from "../components/CategoriaAcordeon.astro";
import CategoriaCardFavo2 from "../components/CategoriaCardFavo2.astro";
import CategoriaCardTodo2 from "../components/CategoriaCardTodo2.astro";
import CategoriaFinal from "../components/CategoriaFinal.astro";
import CategoriaEscaparate from "../components/CategoriaEscaparate.astro";

const titule = "Calzados";
const descrip = "Muestra de los diferentes tipos de productos de la categoria de calzado"
---

<BaseLayouts titulo= {titule} descripcion= {descrip}>
	<div class="max-w-[1200px] mx-8 mt-10 xl:mx-auto">
		<span><a href="/" class="font-bold hover:underline text-xl">Hombre</a> &nbsp &nbsp &gt &nbsp &nbsp <a href="/categoria/" class="font-bold hover:underline text-xl">Zapatos</a></span>
		<h1 class="mt-5 text-5xl font-bold">Zapatos de hombre</h1>
	</div>	
	<div class="max-w-[1200px] mx-8 mt-10 xl:mx-auto flex">
		<aside class="w-0 md:w-1/4">
			<CategoriaAside />
		</aside>
		<main class="w-full md:w-3/4">
			<CategoriaAcordeon />
			<CategoriaCardFavo2 />
			<CategoriaEscaparate />
			<CategoriaCardTodo2 />
			<CategoriaEscaparate />
		</main>
	</div>
	<CategoriaFinal />
</BaseLayouts>