---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import ShowProduct from "../components/principal/ShowProduct.astro";
import IndexEscaparate from "../components/principal/IndexEscaparate.astro";
import IndexEscaparate2 from "../components/principal/IndexEscaparate2.astro";

const titule = "Pagina Principal";
const descrip = "pagina principal donde mostramos el menu de articulos de nuestra web"
---

<BaseLayouts titulo= {titule} descripcion= {descrip}>
	<h1 class="hidden">Zalando</h1>
	<main class="flex flex-col gap-10 overflow-hidden">	
		<ShowProduct />	
		<IndexEscaparate />
		<ShowProduct />	
		<IndexEscaparate2 />
	</main>
</BaseLayouts>