---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import ShowProduct from "../components/ShowProduct.astro";

const titule = "Pagina Principal";
const descrip = "pagina principal donde mostramos el menu de articulos de nuestra web"
---

<BaseLayouts titulo= {titule} descripcion= {descrip}>
	<main>	
		<ShowProduct />	
		<ShowProduct />	
	</main>
</BaseLayouts>