---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import ShowProduct from "../components/ShowProduct.astro";

---

<BaseLayouts>
	<main class="bg-gray-300 h-screen">	
		<ShowProduct />
	</main>
</BaseLayouts>