---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import ShowProduct from "../components/ShowProduct.astro";

const titule = "Pag. Productos";
const descrip = "Muestra las caracteristicas y valores del producto"
---

<BaseLayouts titulo= {titule} descripcion= {descrip}>
	<h1 class="hidden">Producto</h1>
	<main>	
		Enseñar Producto
	</main>
</BaseLayouts>