---
import BaseLayouts from "../layouts/BaseLayouts.astro";
import ProductoImagen from "../components/ProductoImagen.astro";
import ProductoCaracteris from "../components/ProductoCaracteris.astro";
import ProductoEscaparate from "../components/ProductoEscaparate.astro";


const titule = "Pag. Productos";
const descrip = "Muestra las caracteristicas y valores del producto"

const carro1 = "carrusel1";
const carro2 = "carrusel2";
---

<BaseLayouts titulo= {titule} descripcion= {descrip}>
	<h1 class="hidden">Producto</h1>
	
	<main>
		<section class="max-w-[1200px] mx-6 mt-10 xl:mx-auto">
			<div class="static w-full flex flex-col md:flex md:flex-row gap-4 lg:gap-0">    
				<ProductoImagen />
				<ProductoCaracteris />
			</div>						
		</section>
		<section class="overflow-hidden">
			<div class="max-w-[1200px] mx-6 mt-10 xl:mx-auto">
				<ProductoEscaparate />
				<ProductoEscaparate />
			</div>
		</section>
	</main>
</BaseLayouts>