<div id="accordion-example" class="flex flex-wrap gap-3"> 
    <h2 id="accordion-example-heading-1"> 
        <button type="button" class="flex items-center justify-between p-3 font-medium rtl:text-right text-gray-800 border border-gray-700 hover:bg-gray-100" aria-expanded="false" aria-controls="accordion-example-body-1"> 
            <span>Ordenar</span> 
            <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg> 
        </button> 
    </h2> 
    <div id="accordion-example-body-1" class="hidden" aria-labelledby="accordion-example-heading-1"> 
        <div class="p-5 border border-b-0 border-gray-200"> 
            <p class="mb-2 text-gray-500">Flowbite</p> 
            <p class="text-gray-500"><a href="/categoria/" class="hover:underline">Check</a></p> 
        </div>
    </div>
</div>