---
import CategoriaCarrusel from "./CategoriaCarrusel.astro";

--- 

<div class="w-full h-auto flex flex-col mt-3">
    <div class="w-full h-auto bg-amber-500">
        <div class="max-w-[1200px] mx-8 xl:mx-auto flex flex-row h-full">
            <div class="h-full w-full flex flex-col m-5">
                <p class="flex flex-wrap text-xs">
                    Patrocinado   
                    <img src="/images/iconoInformacion.svg" alt="icono informacion" width="16px" height="16px" class="mx-2">
                </p>
                <h2 class="mt-3 font-bold text-3xl">MARCA</h2>
                <h3 class="text-2xl">Eslogan</h3>
                <a class="mt-4 hover:underline">Descubrir </a>
            </div>
        </div>
    </div>
    <div class="w-full h-auto bg-amber-200 p-6 pr-0">
        <div class="max-w-[1200px] mx-8 xl:mx-auto  h-auto">
            <div>
                <CategoriaCarrusel />
             </div>
            <div class="mt-6 flex flex-row items-center justify-start">
                <button class="border-2 border-black py-3 px-4 hover:bg-gray-600 hover:text-white"> + Seguir</button>
                <h2 class="ml-3">Marca</h2>
            </div>
        </div>
    </div>
</div>