---

---

<div class="hidden md:flex md:flex-col gap-3 font-bold">
    <span><a href="/categoria/" class="hover:underline">Zapatos</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Zapatillas</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Botas y botines</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Zapatos con cordones</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Zapatos de traje</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Zapatos bajos</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Sandalias y zuecos</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Pantuflas</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Zapatillas deportivas</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Botas senderismo y montaña</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Accesorios para calzado</a></span>
    <span class="ml-4"><a href="/producto/" class="hover:underline">Outlet</a></span>
</div>
    
    