---
---

<section class="bg-gray-200 w-full py-8 border-t">
    <div class="max-w-[1200px] mx-8 xl:mx-auto flex flex-col lg:grid lg:grid-cols-2 gap-6">
        <div class="text-sm/8 text-gray-800 mr-4">
            <a href="/" class="mr-6 hover:underline">Tech blog</a>
            <a href="/" class="mr-6 hover:underline">Aviso Legal</a>
            <a href="/" class="mr-6 hover:underline">Términos y condiciones</a>
            <a href="/" class="mr-6 hover:underline">Protección de datos</a>
            <a href="/" class="mr-6 hover:underline">Configuración de datos</a>
            <a href="/" class="mr-6 hover:underline">Normas de la comunidad</a>
        </div>
        <div class="flex flex-col md:grid md:grid-cols-2">
            <div class="mb-6 md:mb-0">
                <h6>App de Zalando:</h6>
                <div class="flex flex-row lg:flex-col min-[1080px]:flex-row!">
                    <img class="hidden md:flex mt-4" src="src/images/appQr.png" alt="imagen QR de apps" width="90px" height="90px">
                    <div class="mt-4  ml-0 md:ml-6 lg:ml-0 min-[1080px]:ml-6! flex flex-col">
                        <img class="mb-2" src="src/images/appStoreApple.svg" alt="imagen de apps de apple" width="120px" height="40px" >
                        <img src="src/images/appPlayStore.svg" alt="imagen de apps de play store" width="136px" height="40px">
                    </div>
                </div>
            </div>
            <div>
                <p>Más inspiración:</p>
                <div class="flex fllex-row mt-4 gap-4">
                    <img src="src/images/logoFacebook.svg" alt="logotipo facebook" width="30px" height="30px">
                    <img src="src/images/logoInstagram.svg" alt="logotipo instagram" width="30px" height="30px">
                </div>
            </div>
        </div>
    </div>
</section>