---
---

<div class="w-full h-[1000px] bg-white ">
    <div class="w-[1200px] mx-auto h-full bg-amber-200">
        <h2 class="text-3xl font-bold text-black">Más marcas</h2>
        <div class="w-full h-auto grid grid-cols-4 bg-amber-900">
            <div class="block">
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Adidas</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Nike</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Rebbock</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Kelme</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Jhaiber</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">New Balance</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Salomon</a>
            </div>
            <div class="block">
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Levis</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Bonaventure</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Lee</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Lois</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Sarsa</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Gant</a>
            </div>
            <div class="block">
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Calvin klein</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Carhatt</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Converse</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Calzedonia</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Esprit</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">G-star</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Puma</a>
            </div>
            <div class="block">
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Tous</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Vans</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Veja</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Tezenis</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Swarovski</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Springfield</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Skechers</a>
                <a href="/src/pages/index.astro" class="hover:cursor-pointer hover:underline">Only</a>
            </div>
        </div>
    </div>
</div>