---
---

<section class="bg-gray-200 w-full text-gray-800">
    <div class="max-w-[1200px] mx-8 xl:mx-auto py-8 grid grid-cols-3 lg:grid-cols-4 gap-6">
        <div class="col-span-2">
            <h3 class="text-2xl mb-4">Ayuda y contacto</h3>
             <div class="col-span-2 grid grid-cols-2 gap-3 text-sm">
                <span class="col-span-2"><a href="/" class="font-bold hover:underline">Ver todos los temas</a></span>
                <span><a href="/" class="hover:underline">Devolver un pedido</a></span>
                <span><a href="/" class="hover:underline">Devolver un artículo partner</a></span>
                <span><a href="/" class="hover:underline">Seguir tu pedido</a></span>
                <span><a href="/" class="hover:underline">Cómo hacer un pedido</a></span>
                <span><a href="/" class="hover:underline">Información sobre entregas</a></span>
                <span><a href="/" class="hover:underline">Suscríbete a nuestra Newsletter</a></span>
                <span><a href="/" class="hover:underline">Informe de vulnerabilidad</a></span>
                <span><a href="/" class="hover:underline">Seguridad del producto</a></span>
            </div>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Tarjetas regalo</h3>
            <div class="flex flex-col gap-3 text-sm">
                <a href="/">Comprar tarjetas regalo</a>
                <a href="/">Canjear una tarjeta regalo</a>
            </div>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Sobre Zalando</h3>
            <div class="flex flex-col gap-3 text-sm">
                <a href="/">Web corporativa</a>
                <a href="/">Empleo</a>
                <a href="/">Prensa</a>
                <a href="/">Inversores</a>
            </div>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Nuestros partners</h3>
            <div class="flex flex-wrap gap-2">
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/celeritas.a9fc2fa.svg" alt="celeritas" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/seur.1714603.svg" alt="seur" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/dhl-express.2335bf2.svg" alt="dhl" ></a>
            </div>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Nuestros modos de pago</h3>
            <div class="flex flex-wrap gap-2">
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/mastercard.e559a34.svg" alt="mastercard" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/pay-pal.367a68f.svg" alt="paypal" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/maestro.b882d76.svg" alt="maestro" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/visa.f642176.svg" alt="visa" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/cash-on-delivery.a6c6ed3.svg" alt="cash on delivery" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/amex.ab501de.svg" alt="american express" ></a>
                <a href="/"><img src="https://mosaic01.ztat.net/zds/assets/svg/klarna.c42fac1.svg" alt="klarma" ></a>
            </div>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Nuestras ventajas</h3>
            <div class="flex flex-col gap-3 text-sm">
                <a href="/" >Envíos y devoluciones gratuitos*</a>
                <a href="/" >Devolución gratuita</a>
                <a href="/" >Derecho de devolución de 30 días</a>
            </div>
        </div>
        <div>
            <h3 class="text-2xl mb-4">Nuestros servicios</h3>
            <div class="flex flex-col gap-3 text-sm">
                <a href="/" >Servicios de marketing</a>
                <a href="/" >Saber más</a>
            </div>
        </div>
    </div>
</section>