---
import MenuChico from "./MenuChico.astro";
import Navegador1 from "./Navegador1.astro";
import Navegador22 from "./Navegador22.astro";

---

<header>
    <MenuChico />
    <nav class="w-full mt-3 mb-0 pb-0 border-b border-b-gray-400">
        <Navegador1 />
        <Navegador22 />
    </nav>    
</header>
