---
import MenuChico from "./MenuChico.astro";
import Navegador1 from "./Navegador1.astro";
import Navegador2 from "./Navegador2.astro";

---

<header>
    <MenuChico />
    <nav class="w-full mt-3 mb-0 pb-0">
        <Navegador1 />
        <Navegador2 />
    </nav>    
</header>
