---

---

<!-- Swiper -->
<div class="swiper mySwiper2">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://img01.ztat.net/ply/assets-landing-pages/production/images/plumb3jpel1q3sfkonpu/1757078660234_plumb3jpel1q3sfkonpu.jpeg?imwidth=768" alt="imagen de deportes"></div>
        <div class="swiper-slide"><img src="https://img01.ztat.net/ply/assets-landing-pages/production/images/szuptc1vilwrjbbyzryj/1757078723015_szuptc1vilwrjbbyzryj.jpeg?imwidth=768" alt="imagen de deportes"></div>
        <div class="swiper-slide"><img src="https://img01.ztat.net/ply/assets-landing-pages/production/images/wpnouvy5v5avdnnpuayo/1757078971074_wpnouvy5v5avdnnpuayo.jpeg?imwidth=768" alt="imagen de deportes"></div>
        <div class="swiper-slide"><img src="https://img01.ztat.net/ply/assets-landing-pages/production/images/qxkbzjznwyb0ollukzwq/1757079029730_qxkbzjznwyb0ollukzwq.jpeg?imwidth=768" alt="imagen de deportes"></div>
        <div class="swiper-slide"><img src="https://img01.ztat.net/ply/assets-landing-pages/production/images/ykd00avc00u0btzqxdls/1757078992221_ykd00avc00u0btzqxdls.jpeg?imwidth=768" alt="imagen de deportes"></div>
        <div class="swiper-slide"><img src="https://img01.ztat.net/ply/assets-landing-pages/production/images/plumb3jpel1q3sfkonpu/1757078660234_plumb3jpel1q3sfkonpu.jpeg?imwidth=768" alt="imagen de deportes"></div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper2", {
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>