---
---

<nav class="w-full h-8 flex flex-row bg-gray-200">
    <div class="w-[1200px] mx-auto grid grid-cols-4 text-[15px] text-gray-500 font-sans">
        <div class="flex items-center place-content-star">Ayuda y contacto</div>
        <div class="flex items-center place-content-center">Envío gratuito para pedidos superiores a 25,90€*</div>
        <div class="flex items-center place-content-center">Devoluciones gratuitas durante 30 días</div>
        <div class="flex items-center place-content-end">Tarjetas regalo</div>
    </div>
</nav>