---
---

<div class="hidden lg:block lg:w-full py-2 bg-gray-200">
    <div class="max-w-[1200px] mx-8 xl:mx-auto flex justify-between text-xs text-gray-600 font-bold font-sans">
        <div class="flex items-cente">
            <a href="/">Ayuda y contacto</a>
        </div>
        <div class="flex items-center">
            <a href="/">Envío gratuito para pedidos superiores a 25,90€*</a>
        </div>
        <div class="flex items-center">
            <a href="/">Devoluciones gratuitas durante 30 días</a>
        </div>
        <div class="flex items-center">
            <a href="/">Tarjetas regalo</a>
        </div>
    </div>
</div>