---
---

<nav class="w-full h-8 flex flex-row bg-gray-200">
    <div class="max-w-[1200px] mx-auto grid grid-cols-4 text-xs text-gray-600 font-bold font-sans">
        <div class="flex items-center place-content-start">Ayuda y contacto</div>
        <div class="flex items-center place-content-center">Envío gratuito para pedidos superiores a 25,90€*</div>
        <div class="flex items-center place-content-center">Devoluciones gratuitas durante 30 días</div>
        <div class="flex items-center place-content-end">Tarjetas regalo</div>
    </div>
</nav>