---

---

<nav class="w-full h-36">
    <div class="w-[1200px] mx-auto h-full flex-row flex-2">
        <div class="w-full h-1/2 grid grid-cols-3">
            <div class="flex items-center place-content-start">Mujer Hombre Niños</div>
            <div class="flex items-center place-content-center">ZALANDO</div>
            <div class="flex items-center place-content-end font-sans">iconos</div>
        </div>

        <div class="w-full h-1/2 flex flex-row">
            <div class="h-full w-4/5 flex items-center place-content-start">fjaslk jflkaj k jdskj kdsjf jd akjdskl</div>
            <div class="h-full w-1/5 flex items-center place-content-end font-sans"> el recuadro de buscar</div>
        </div>
    </div>
</nav>