---

---

<div class="w-full md:w-1/2 flex justify-between gap-4">
    <div class="hidden lg:flex lg:flex-col overflow-scroll">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/454de70ee16749b2a68ef96279ca5009/d4050bb8bb9b448591d7489338943ac1.jpg?imwidth=156&filter=packshot" alt="Miniatura 1">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/963c2c4a392c4bc0a1df02e9a10fb8fc/17654f13a7cc488298fcfbc33c97977a.jpg?imwidth=156" alt="Miniatura 2">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/963c2c4a392c4bc0a1df02e9a10fb8fc/17654f13a7cc488298fcfbc33c97977a.jpg?imwidth=156" alt="Miniatura 3">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/56de8c44d2494559874d79a0594ceea1/a69f39e681f54ad190389a1a133e901d.jpg?imwidth=156" alt="Miniatura 4">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/e68965e3a96243bc9dfb5a4debaee2cf/6c6ec40619a548acaf1e32c492002e14.jpg?imwidth=156&filter=packshot" alt="Miniatura 5">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/47e956900fe04922a07c0276ad52b116/11434549a3eb4d54b62e85c9ac6cbc15.jpg?imwidth=156" alt="Miniatura 6">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/0ed2472c3d7c46ce9f327f421e6047dd/75fb73bac56c487a935c8c892edf49df.jpg?imwidth=156" alt="Miniatura 7">
        <img class="w-24 mb-2 object-cover" src="https://img01.ztat.net/article/spp-media-p1/dfb470988f1b451888ac8ae25b68e83c/73a1d1e93b864f0586ecba9114087cde.jpg?imwidth=156" alt="Miniatura 8">
    </div>
    <div>
        <img class="w-full md:w-lg bg-cyan-300" src="https://img01.ztat.net/article/spp-media-p1/018f6310f43e49619ffde7ba23c75ff5/777a077c291a4ce68fb7d36cbbe66fba.png?imwidth=1800" alt="Zapatillas vista principal">
    </div>
</div>