---
import ProductoCarrusel from "./ProductoCarrusel.astro";

const {carro} = Astro.props;
console.log('Estamos en Escaparate:');
console.log(carro);
--- 

<section class="mx-8 my-8 flex flex-col">
    <div class="flex flex-col p-6">
        <div class="flex justify-end">
            <img class="size-6" src="/images/iconoInformacion.svg" alt="icono informacion">
        </div>
        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center">
            <h2 class="mt-3 font-bold text-3xl">La coleccion de MARCA</h2>
            <div class="flex items-center gap-1">
                <p>
                    <a class="underline underline-offset-4 hover:decoration-2 text-indigo-600" href="/producto/">Ver más</a>
                </p>
                <svg class="text-indigo-600" viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" focusable="false" aria-hidden="true">
                    <path d="M.443 12c0 .414.336.75.75.75h20.869l-7.72 7.72a.75.75 0 0 0 1.06 1.06l7.94-7.94a2.25 2.25 0 0 0 0-3.18l-7.94-7.94a.75.75 0 0 0-1.06 1.06l7.72 7.72H1.192a.75.75 0 0 0-.75.75">                
                    </path>
                </svg>
            </div>
        </div>
    </div>
    <div>
        <div class="xl:mx-auto">
            <div class="mt-5">
                <ProductoCarrusel carro= {carro} /> 
            </div>
        </div>
    </div>
</section>