---

---

<section class="mt-4">
    <div class="grid grid-cols-3 place-content-between gap-2 mt-7">
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div>    
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div> 
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div> 
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div>
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div>
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div>
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div>
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div>
        <div class="flex flex-col my-3">
            <a href="/producto/">
                <img class="xl:max-w-2xs h-auto" src="https://img01.ztat.net/article/spp-media-p1/8fc2af0805de3e3b8e2d510ffabd3e47/60403b3d99c04ed3ab82c8edb8dfef7e.jpg?imwidth=300&filter=packshot" alt="simone confort">
                <h3>Marca</h3>
                <h5>Modelo y descripcion</h5>
                <h6 class="text-red-600">Precio</h6>
                <p class="text-sm text-gray-400">Precio anterior y descuento</p>
            </a>
        </div>
    </div>
</section>