---
import '../styles/global.css';
import FooterTotal from '../components/FooterTotal.astro';
import Head from '../components/Head.astro';

const {titulo, descripcion} = Astro.props;

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta name="name" content={titulo} />
		<meta name="description" content={descripcion} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{titulo}</title>


		<!-- Link Swiper's CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />



	</head>
	<body>
		<Head />
        <slot />
		<FooterTotal />
	</body>
</html>